# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/
*.tsbuildinfo

# misc
.DS_Store
*.pem
*.log

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel
